.rddglb-modal {
	display: none;
}

.rddglb-modal--show {
	align-items: center;
	background-color: rgba(0,0,0,0.9);
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 99998;
}

.rddglb-modal__buttons {
	position: absolute;
	width: 100%;
	top: calc(50% - 1.5rem);
	z-index: 99999;
}

.rddglb-modal__buttons--hide {
	display: none;
}

.rddglb-modal__button {
	background: none;
	border: 0;
	height: 3rem;
	line-height: 0;
	position: absolute;
	width: 3rem;
}

.rddglb-modal__button:hover {
	background-color: #333;
}

.rddglb-modal__button--close {
	top: 1rem;
	right: 1rem;
}

.admin-bar .rddglb-modal__button--close {
	top: calc(1rem + 32px);
}

.rddglb-modal__button--prev {
	left: 1rem;
}

.rddglb-modal__button--next {
	right: 1rem;
}

.rddglb-modal__full-image {
	border: 0.5rem solid #fff;
	max-height: 85vh;
	max-width: 85vw;
}

.rddglb-modal__counter {
	bottom: 2rem;
	color: #fff;
	font-size: 0.875rem;
	font-family: sans-serif;
	font-weight: 700;
	line-height: 1;
	position: absolute;
}

.rddglb-modal__counter--hide {
	display: none;
}

.rddglb-modal__counter-separator {
	color: #666;
	padding: 0 0.25rem;
}

.rddglb-overflow {
	overflow: hidden;
}

img[class^='wp-image-'] {
	cursor: pointer;
}